@import "./scss/resets";
@import "./scss/center";
@import "./scss/variables";
@import "./scss/btns";
@import "./scss/PNHs";
@import "./scss/form";
@import "./scss/drag&drop";
@import "./scss/notification";
@import "./scss/Todo";

body {
  margin: 0 10vw;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(189,70,252,0.6976540616246498) 100%);
;
}

.container {
  @include center();
  margin-top: 1vh;
  padding: 10vh;
}





