.simpleForm {
  @include center();
  width: 350px;
  position: relative;
}

#textForm {
  border: 1px solid map-get($map: $primary-greys, $key: "g4");
  height: 3rem;
  width: 100%;
  border-radius: 0.3rem;
  text-indent: 35px;
  outline: none;
}
