.notificationContainer {
  display: flex;
  height: 4rem;
  @include center();
}

.holder {
  max-width: 350px;
  height: 50px;
  position: relative;
}

.notification1 {
  max-width: 470px;
  height: auto;
  color: black;
  text-transform: uppercase;
  letter-spacing: $letterSpacing;
  font-family: map-get($map: $primary-fonts, $key: "f3");
  word-wrap: break-word;
  background-color: red;
  padding: 5px 0;
  border: 0.5px solid black;
}

.notification {
  color: black;
  text-transform: uppercase;
  letter-spacing: $letterSpacing;
  font-family: map-get($map: $primary-fonts, $key: "f3");
  background-color: red;
  padding: 5px 0;
  border: 0.5px solid black;
  position: absolute;
  top: 0;
  right: 30%;
}
